@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
}


.sidebar {
    width: 20%;
    background: #222;
    border: 1px solid white;
    border-radius: 12px;
    padding: 0 10px;
    color: white;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    top: 10px;
    height: calc(100% - 20px);
    z-index: 1;

    input[name='open-sidebar'] {
        display: none;
    }

    .hidden {
        display: grid;
        opacity: 1;
    }

    .toggle {
        position: absolute;
        top: 32px;
        left: 100%;
        transform: translate(-50%);
        width: 30px;
        height: 30px;
        background: rgb(99, 99, 244);
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: top 0.3s ease-in-out;
        cursor: pointer;

        i {
            color: white;
            transition: transform 0.3s ease-in-out;
        }
    }

    .header {
        padding: 16px 0px;
        display: flex;
        align-items: center;
        gap: 20px;

        .logo {
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
                transition: 0.3s ease-in-out;
            }
        }
    }

    .form {
        position: relative;

        label {
            cursor: pointer;
        }

        i {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            color: white;
        }

        input {
            width: 100%;
            outline: none;
            background: rgb(109, 109, 109);
            color: white;
            height: 40px;
            padding: 0px 0px 0px 40px;
            border: none;
            border-radius: 50em;
            font-size: 20px;
        }
    }

    .menu {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            padding: 0px 5px;
            gap: 10px;
            text-decoration: none;

            &:hover {
                background: #989898;
            }

            .icon {
                width: 25px;
                height: 25px;
                color: white;
                flex-shrink: 0;
            }

            .hidden {
                color: white;
                text-decoration: none;
                white-space: nowrap;
                opacity: 1;
                transition: 0.3s !important;
            }

            &.active {
                background: #989898;
            }
        }
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 20px 0px;
        margin-top: auto !important;

        .user-logo {
            img {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .log-out-icon {
            background: none;
            border: none;
            cursor: pointer;
            transition: 0.3s !important;

            svg {
                width: 24px;
                height: 24px;
                color: red;
            }
        }
    }

    &:has(input[name='open-sidebar']:checked) {
        width: 64px;

        .hidden {
            opacity: 0;
            visibility: hidden;
            transition: 0.3s !important;
        }

        .header {
            .logo {
                img {
                    width: 42px;
                    height: 42px;
                }
            }
        }

        .toggle {
            top: 25px;
            left: 100%;
        }

        .toggle i {
            transform: rotate(180deg);
        }

        .form {
            label {
                cursor: pointer;
            }
        }
    }
}

.main {
    width: 100%;
    height: 100%;
    padding: 10px 15px 0px 80px;
    white-space: nowrap;

    .section-one {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        height: 100%;
        font-size: 50px;
        background: #000;
        border-radius: 12px;
    }

    .section-two {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        height: 100%;
        font-size: 50px;
        background: #000;
        border-radius: 12px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 80%;
    }

    .main {

        .section-one {
            font-size: 20px;
        }

        .section-two {
            font-size: 20px;
        }
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .sidebar {
        width: 38%;
    }
}

@media (min-width: 993px)and (max-width: 1024px) {
    .sidebar {
        width: 30%;
    }
}